.swipe_Circle{
    position: absolute;
    left: 475px;
    top: 375px;
    width:250px;
    height:250px;
    border:0px;
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-image: url("../widgets/Swipe/picture/circle_1.png");
}
.swipe_Vertical{
    position: absolute;
    top: 0px;
    left: 295px;
    width: 10px ;
    height: 100%;
    cursor: col-resize;
    background-color: rgba(23,105,120,0.75);
    /*left: 300px;
    top: 0px;
    border:0px;
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-image:url("../widgets/Swipe/picture/vertical.png");*/
}
.swipe_Horizontal{
    position: absolute;
    left: 0px;
    top: 295px;
    width: 100% ;
    height: 11px;
    cursor: row-resize;
    background-color:  rgba(23,105,120,0.5);
    box-sizing: border-box;
    /*border:0px;
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-image: url("../widgets/Swipe/picture/horizontal.png");*/
}
.swipe_Horizontal::before{
    width:100%;
    height:1px;
    background:#000;
    content: "";
    position: absolute;
    top: 5px;
}
.swipe_Horizontal::after{
    width:100%;
    height:1px;
    background:#000;
    content: "";
    position: absolute;
    top: 5px;
}
.swipe_Map1{
    position: absolute;
    top: 0px;
    left: 0px;
}
.swipe_Map2{
    position: absolute;
    top: 0px;
    left: 0px;
}

.swipe_Block{
    display: block;
}
.swipe_None{
    display:none;
}